.w3-theme-l5 {color:#000 !important; background-color:#fffcf4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fff4d9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffe8b4 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffdd8e !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffd268 !important}
.w3-theme-d1 {color:#000 !important; background-color:#ffbd22 !important}
.w3-theme-d2 {color:#000 !important; background-color:#ffb302 !important}
.w3-theme-d3 {color:#fff !important; background-color:#e19d00 !important}
.w3-theme-d4 {color:#fff !important; background-color:#c18700 !important}
.w3-theme-d5 {color:#fff !important; background-color:#a17000 !important}

.w3-theme-light {color:#000 !important; background-color:#fffcf4 !important}
.w3-theme-dark {color:#fff !important; background-color:#a17000 !important}
.w3-theme-action {color:#fff !important; background-color:#a17000 !important}

.w3-theme {color:#000 !important; background-color:#ffc642 !important}
.w3-text-theme {color:#ffc642 !important}
.w3-border-theme {border-color:#ffc642 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ffc642 !important}
.w3-hover-text-theme:hover {color:#ffc642 !important}
.w3-hover-border-theme:hover {border-color:#ffc642 !important}


.w3-bg-l5 {background-color:#fffcf4 !important}
.w3-bg-l4 {background-color:#fff4d9 !important}
.w3-bg-l3 {background-color:#ffe8b4 !important}
.w3-bg-l2 {background-color:#ffdd8e !important}
.w3-bg-l1 {background-color:#ffd268 !important}
.w3-bg-d1 {background-color:#ffbd22 !important}
.w3-bg-d2 {background-color:#ffb302 !important}
.w3-bg-d3 {background-color:#e19d00 !important}
.w3-bg-d4 {background-color:#c18700 !important}
.w3-bg-d5 {background-color:#a17000 !important}

.w3-front-l5 {color:#fffcf4 !important}
.w3-front-l4 {color:#fff4d9 !important}
.w3-front-l3 {color:#ffe8b4 !important}
.w3-front-l2 {color:#ffdd8e !important}
.w3-front-l1 {color:#ffd268 !important}
.w3-front-d1 {color:#ffbd22 !important}
.w3-front-d2 {color:#ffb302 !important}
.w3-front-d3 {color:#e19d00 !important}
.w3-front-d4 {color:#c18700 !important}
.w3-front-d5 {color:#a17000 !important}

.w3-border-l5 {border-color:#fffcf4 !important}
.w3-border-l4 {border-color:#fff4d9 !important}
.w3-border-l3 {border-color:#ffe8b4 !important}
.w3-border-l2 {border-color:#ffdd8e !important}
.w3-border-l1 {border-color:#ffd268 !important}
.w3-border-d1 {border-color:#ffbd22 !important}
.w3-border-d2 {border-color:#ffb302 !important}
.w3-border-d3 {border-color:#e19d00 !important}
.w3-border-d4 {border-color:#c18700 !important}
.w3-border-d5 {border-color:#a17000 !important}

.w3-front-dark {color:#333 !important;}
.w3-front-light {color:#fff !important;}




