@media screen and (min-width: 998px){
	.nav-bar{
		width: 85%;
	}

	/*---- Why Me ----*/
	#whyMe{
		width: 85%;
		margin: 64px auto;
	}
	#whyMe div h1 hr{
		width: 10%;
	}
	.why-me	> div > a > div > h3{	
		line-height: 1.2;
	}
	.why-me	> div > a > div > p{
		font-size: 16px;
	}
	.why-me-2{
		height: auto;
	}	

	.panel-1,.panel-2,.panel-3{
		height: 450px;
	}
	
	.img-slides img{
		width: 100%;
	}
	.img-slides .slides-text p{
		font-size: 18px; /* w3-large */
	}
	/*---- Slider Status ----*/
	#sliderStatus{
		left: 10%;
		bottom: 16px;
	}

	/*------- row 1 -------*/
	.row-2 h1 hr{
		width: 10%;
	}
	.row-2 div.w3-row{
		width: 85%;
	}

	/*----- Actual theme -----*/
	.actual-theme{
		width: 85%;
		margin: 64px auto;
	}

	/*---- Contact ----*/
	#contact div.w3-row{
		width: 85%;
	}
	#contact div.w3-row div h1 hr{
		width: 10%;
	}
	#contact div.w3-row form div div button{
		width: 25%;
	}

	/*-------- Footer --------*/
	#footer{
		padding: 64px 0;
	}
	#footer div.w3-row{
		width: 85%;
		margin: 32px auto;
	}
	#footer div.w3-row div.w3-col{
		margin: 0 auto;
	}
	#footer div.w3-row div.w3-col button{
		width: 25%;
	}

	/*----- Search Form ------*/	
	p.search-button button{
		width: 150px;
	}
	p.search-input{
		width: 33%;
	}
}
@media screen and (min-width: 601px) and (max-width: 997px){
	.nav-bar{
		width: 85%;
	}	
	/*---- Why Me ----*/
	#whyMe{
		width: 85%;
		margin: 64px auto;
	}
	#whyMe div h1 hr{
		width: 20%;
	}
	.why-me	> div > a > div > h3{	
		font-size: 24px; /* h3 */
		line-height: 1.2;
	}
	.why-me.w3-col	> div > a > div > p{
		font-size: 15px;
	}
	.why-me-2{
		height: 280px;
	}
	
	.panel-1,.panel-2,.panel-3{
		height: 280px;
	}
	.panel-1 .w3-button,
	.panel-2 .w3-button,
	.panel-3 .w3-button{
		bottom: 60px;
	}
	.img-slides img{
		width: 100%;
	}
	.img-slides .slides-text{
		top: 40%;
		width: 70%;
	}
	.img-slides .slides-text h2{
		font-size: 20px; /* h4 */
	}
	.img-slides .slides-text p{
		font-size: 12px;
	}	
	/*---- Slider Status ----*/
	#sliderStatus{
		left: 20%;
		bottom: 16px;
	}	
	
	/*------- row 1 -------*/
	.row-2 h1 hr{
		width: 20%;
	}
	.row-2 div.w3-row{
		width: 85%;
	}

	/*----- Actual theme -----*/
	.actual-theme{
		width: 85%;
		margin: 64px auto;
	}

	/*---- Contact ----*/
	#contact div.w3-row{
		width: 85%;
	}
	#contact div.w3-row div h1 hr{
		width: 20%;
	}
	#contact div.w3-row form div div button{
		width: 50%;
	}

	/*-------- Footer --------*/
	#footer{
		padding: 64px 0;
	}
	#footer div.w3-row{
		width: 85%;
		margin: 32px auto;
	}
	#footer div.w3-row div.w3-col{
		margin: 0 auto;
	}
	#footer div.w3-row div.w3-col button{
		width: 50%;
	}

	/*----- Search Form ------*/	
	p.search-button button{
		width: 150px;
	}
	p.search-input{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.nav-bar{
		width: 95%;
	}

	/*---- Why Me ----*/
	#whyMe{
		width: 95%;
		margin: 32px auto;
	}
	#whyMe div h1 hr{
		width: 30%;
	}
	.why-me	> div > a > div > h3{	
		font-size: 24px; /* h3 */
		line-height: 1.2;
	}
	.why-me.w3-col	> div > a > div > p{
		font-size: 15px;
	}
	.why-me-2{
		height: auto;
	}
	
	.panel-1,.panel-2,.panel-3{
		height: 250px;
	}
	.panel-1 .w3-button,
	.panel-2 .w3-button,
	.panel-3 .w3-button{
		bottom: 60px;
	}
	
	/*---- Image sliders ----*/
	.img-slides img{
		width: auto;
	}
	.img-slides .slides-text{
		top: 30%;
		width: 100%;
	}
	.img-slides .slides-text h2{
		font-size: 20px; /* h4 */
	}
	.img-slides .slides-text p{
		font-size: 12px;
	}
	/*---- Slider Status ----*/
	#sliderStatus{
		left: 30%;
		bottom: 100px;
	}
	/*----- Indicators -----*/
	.indicators span{
		display: none;
	}

	/*------- row 1 -------*/
	.row-2 h1 hr{
		width: 30%;
	}
	.row-2 div.w3-row{
		width: 95%;
	}

	/*----- Actual theme -----*/
	.actual-theme{
		width: 95%;
		margin: 32px auto;
	}

	/*---- Contact ----*/
	#contact div.w3-row{
		width: 95%;
	}
	#contact div.w3-row div h1 hr{
		width: 30%;
	}
	#contact div.w3-row form div div button{
		width: 100%;
	}

	/*-------- Footer --------*/
	#footer{
		padding: 32px 0;
	}
	#footer div.w3-row{
		width: 100%;
		margin: 0 auto;
	}
	#footer div.w3-row div.w3-col{
		margin: 24px auto;
	}
	#footer div.w3-row div.w3-col button{
		width: 100%;
	}


	/*----- Search Form ------*/	
	p.search-button button{
		width: 100%;
	}
	p.search-button a{
		margin-top: 15px;
	}
	p.search-input{
		width: 100%;
	}
}